# Ejemplo de conversi√≥n de paneles a series usando pandas

In [3]:
import pandas as pd

In [29]:
# leo el panel
df_panel = pd.read_csv("../datos/tce/tipos-cambio-minorista-cotizaciones-panel.csv")
df_panel.head()

  indice_tiempo   coin       entity    channel    flow  hour  value
0    2019-09-01  dolar  hipotecario  mostrador  compra  11hs    NaN
1    2019-09-01  dolar  hipotecario  mostrador  compra  13hs    NaN
2    2019-09-01  dolar  hipotecario  mostrador  compra  15hs    NaN
3    2019-09-01  dolar  hipotecario  mostrador   venta  11hs    NaN
4    2019-09-01  dolar  hipotecario  mostrador   venta  13hs    NaN

In [30]:
def create_field_title(col_multi_index, coin):
    """Convierte columnas muli index a nombre de campo plano."""
    
    entity, channel, flow, hour = col_multi_index
    field_title = "tc_ars_{coin}_{entity}_{channel}_{flow}_{hour}".format(
        coin=coin,
        entity=entity,
        channel=channel,
        flow=flow,
        hour=hour
    )
    return field_title

Creo el CSV de series para dolar.

In [36]:
df_pivot_dolar = df_panel[df_panel.coin == "dolar"].pivot_table(
    index="indice_tiempo", 
    columns=["entity", "channel", "flow", "hour"], 
    values="value"
)
df_pivot_dolar.head()

entity             balanz                                       bbva         \
channel       electronico                                electronico
flow               compra             venta                   compra
hour                 11hs  13hs  15hs  11hs  13hs   15hs        11hs   13hs
indice_tiempo
2019-09-02            NaN  55.0  55.0   NaN  60.0  57.75       54.01  55.01
2019-09-03           55.0  55.0  55.0  58.0  57.0  57.00         NaN  53.61
2019-09-04           55.0  55.0  55.0  57.0  57.0  57.00       53.66  53.66
2019-09-05           55.0  55.0  55.0  57.0  57.0  57.00         NaN  54.16
2019-09-06           55.0  55.0  55.0  57.0  57.0  57.00         NaN    NaN

entity                       ... supervielle                              \
channel                      ... electronico                   mostrador
flow                  venta  ...      compra venta                compra
hour            15hs   11hs  ...        15hs  11hs  13hs  15hs      11hs
indice_tiempo                ...
2019-09-02     53.01  59.99  ...        54.1  60.9  60.9  59.9      55.0
2019-09-03     53.61    NaN  ...        53.1  58.9  58.9  58.9      53.0
2019-09-04       NaN  59.64  ...        53.6  58.9  58.8  58.4      53.0
2019-09-05     54.16    NaN  ...        53.6  58.4  58.4  58.4      53.5
2019-09-06       NaN    NaN  ...        53.6  58.4  58.4  58.4      53.5

entity
channel
flow                      venta
hour           13hs  15hs  11hs  13hs  15hs
indice_tiempo
2019-09-02     55.0  54.0  61.0  61.0  60.0
2019-09-03     53.0  53.0  59.0  59.0  59.0
2019-09-04     54.0  53.5  59.0  59.0  58.5
2019-09-05     53.5  53.5  58.5  58.5  58.5
2019-09-06     53.5  53.5  58.5  58.5  58.5

[5 rows x 192 columns]

In [37]:
flatten_columns = [create_field_title(col, "dolar") for col in df_pivot_dolar.columns]
df_pivot_dolar.columns = flatten_columns
df_pivot_dolar.reset_index(inplace=True)
df_pivot_dolar.head()

,indice_tiempo,tc_ars_dolar_balanz_electronico_compra_11hs,tc_ars_dolar_balanz_electronico_compra_13hs,tc_ars_dolar_balanz_electronico_compra_15hs,tc_ars_dolar_balanz_electronico_venta_11hs,tc_ars_dolar_balanz_electronico_venta_13hs,tc_ars_dolar_balanz_electronico_venta_15hs,tc_ars_dolar_bbva_electronico_compra_11hs,tc_ars_dolar_bbva_electronico_compra_13hs,tc_ars_dolar_bbva_electronico_compra_15hs,...,tc_ars_dolar_supervielle_electronico_compra_15hs,tc_ars_dolar_supervielle_electronico_venta_11hs,tc_ars_dolar_supervielle_electronico_venta_13hs,tc_ars_dolar_supervielle_electronico_venta_15hs,tc_ars_dolar_supervielle_mostrador_compra_11hs,tc_ars_dolar_supervielle_mostrador_compra_13hs,tc_ars_dolar_supervielle_mostrador_compra_15hs,tc_ars_dolar_supervielle_mostrador_venta_11hs,tc_ars_dolar_supervielle_mostrador_venta_13hs,tc_ars_dolar_supervielle_mostrador_venta_15hs
0,2019-09-02,NaN,55.0,55.0,NaN,60.0,57.75,54.01,55.01,53.01,...,54.1,60.9,60.9,59.9,55.0,55.0,54.0,61.0,61.0,60.0
1,2019-09-03,55.0,55.0,55.0,58.0,57.0,57.00,NaN,53.61,53.61,...,53.1,58.9,58.9,58.9,53.0,53.0,53.0,59.0,59.0,59.0
2,2019-09-04,55.0,55.0,55.0,57.0,57.0,57.00,53.66,53.66,NaN,...,53.6,58.9,58.8,58.4,53.0,54.0,53.5,59.0,59.0,58.5
3,2019-09-05,55.0,55.0,55.0,57.0,57.0,57.00,NaN,54.16,54.16,...,53.6,58.4,58.4,58.4,53.5,53.5,53.5,58.5,58.5,58.5
4,2019-09-06,55.0,55.0,55.0,57.0,57.0,57.00,NaN,NaN,NaN,...,53.6,58.4,58.4,58.4,53.5,53.5,53.5,58.5,58.5,58.5

In [38]:
df_pivot_dolar.to_csv("tipos-cambio-dolar-entidades-financieras-series.csv", encoding="utf8", index=False)

Creo el CSV de series para euro.

In [39]:
df_pivot_euro = df_panel[df_panel.coin == "euro"].pivot_table(
    index="indice_tiempo", 
    columns=["entity", "channel", "flow", "hour"], 
    values="value"
)
df_pivot_euro.head()

entity               bbva                                                      \
channel       electronico                                    mostrador
flow               compra                venta                  compra
hour                 11hs   13hs   15hs   11hs   13hs   15hs      11hs   13hs
indice_tiempo
2019-09-02          59.45  60.60  58.40  65.45  66.60  64.40     59.44  60.59
2019-09-03            NaN  59.00  59.05    NaN  65.00  65.05       NaN  58.99
2019-09-04          59.35  59.35    NaN  65.35  65.35    NaN     59.34  59.34
2019-09-05            NaN  60.10  60.00    NaN  64.10  64.00       NaN  60.09
2019-09-06            NaN    NaN    NaN    NaN    NaN    NaN       NaN    NaN

entity                       ... supervielle                              \
channel                      ... electronico                   mostrador
flow                  venta  ...      compra venta                compra
hour            15hs   11hs  ...        15hs  11hs  13hs  15hs      11hs
indice_tiempo                ...
2019-09-02     58.39  65.46  ...        59.1  68.9  68.9  65.9      60.0
2019-09-03     59.04    NaN  ...        59.1  65.9  65.9  65.9      59.0
2019-09-04       NaN  65.36  ...        59.1  65.9  65.9  65.9      59.0
2019-09-05     59.99    NaN  ...        59.1  65.9  65.9  65.9      59.0
2019-09-06       NaN    NaN  ...        59.1  65.9  65.9  65.9      59.0

entity
channel
flow                      venta
hour           13hs  15hs  11hs  13hs  15hs
indice_tiempo
2019-09-02     60.0  59.0  69.0  69.0  66.0
2019-09-03     59.0  59.0  66.0  66.0  66.0
2019-09-04     59.0  59.0  66.0  66.0  66.0
2019-09-05     59.0  59.0  66.0  66.0  66.0
2019-09-06     59.0  59.0  66.0  66.0  66.0

[5 rows x 96 columns]

In [40]:
flatten_columns = [create_field_title(col, "euro") for col in df_pivot_euro.columns]
df_pivot_euro.columns = flatten_columns
df_pivot_euro.reset_index(inplace=True)
df_pivot_euro.head()

,indice_tiempo,tc_ars_euro_bbva_electronico_compra_11hs,tc_ars_euro_bbva_electronico_compra_13hs,tc_ars_euro_bbva_electronico_compra_15hs,tc_ars_euro_bbva_electronico_venta_11hs,tc_ars_euro_bbva_electronico_venta_13hs,tc_ars_euro_bbva_electronico_venta_15hs,tc_ars_euro_bbva_mostrador_compra_11hs,tc_ars_euro_bbva_mostrador_compra_13hs,tc_ars_euro_bbva_mostrador_compra_15hs,...,tc_ars_euro_supervielle_electronico_compra_15hs,tc_ars_euro_supervielle_electronico_venta_11hs,tc_ars_euro_supervielle_electronico_venta_13hs,tc_ars_euro_supervielle_electronico_venta_15hs,tc_ars_euro_supervielle_mostrador_compra_11hs,tc_ars_euro_supervielle_mostrador_compra_13hs,tc_ars_euro_supervielle_mostrador_compra_15hs,tc_ars_euro_supervielle_mostrador_venta_11hs,tc_ars_euro_supervielle_mostrador_venta_13hs,tc_ars_euro_supervielle_mostrador_venta_15hs
0,2019-09-02,59.45,60.60,58.40,65.45,66.60,64.40,59.44,60.59,58.39,...,59.1,68.9,68.9,65.9,60.0,60.0,59.0,69.0,69.0,66.0
1,2019-09-03,NaN,59.00,59.05,NaN,65.00,65.05,NaN,58.99,59.04,...,59.1,65.9,65.9,65.9,59.0,59.0,59.0,66.0,66.0,66.0
2,2019-09-04,59.35,59.35,NaN,65.35,65.35,NaN,59.34,59.34,NaN,...,59.1,65.9,65.9,65.9,59.0,59.0,59.0,66.0,66.0,66.0
3,2019-09-05,NaN,60.10,60.00,NaN,64.10,64.00,NaN,60.09,59.99,...,59.1,65.9,65.9,65.9,59.0,59.0,59.0,66.0,66.0,66.0
4,2019-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59.1,65.9,65.9,65.9,59.0,59.0,59.0,66.0,66.0,66.0

In [41]:
df_pivot_euro.to_csv("tipos-cambio-euro-entidades-financieras-series.csv", encoding="utf8", index=False)