In [14]:
import pandas as pd
import json

In [15]:
with open("parsed.json", "r") as f:
    parsed = json.load(f)["parsed"]

In [27]:
sum([len(day.values()) for day in parsed])

35186

In [16]:
def create_multi_index_column(field_title):
    """Crea multi index desarmando el título de un campo."""
    
    tc, ars, coin, entity, channel, flow, hour = field_title.split("_")

    return (coin, entity, channel, flow, hour)

In [17]:
df = pd.DataFrame(parsed).set_index("indice_tiempo")
df.head()

,tc_ars_dolar_hipotecario_mostrador_compra_11hs,tc_ars_dolar_hipotecario_mostrador_compra_13hs,tc_ars_dolar_hipotecario_mostrador_compra_15hs,tc_ars_dolar_hipotecario_mostrador_venta_11hs,tc_ars_dolar_hipotecario_mostrador_venta_13hs,tc_ars_dolar_hipotecario_mostrador_venta_15hs,tc_ars_dolar_hipotecario_electronico_compra_11hs,tc_ars_dolar_hipotecario_electronico_compra_13hs,tc_ars_dolar_hipotecario_electronico_compra_15hs,tc_ars_dolar_hipotecario_electronico_venta_11hs,...,tc_ars_euro_iol_mostrador_compra_15hs,tc_ars_euro_iol_mostrador_venta_11hs,tc_ars_euro_iol_mostrador_venta_13hs,tc_ars_euro_iol_mostrador_venta_15hs,tc_ars_euro_iol_electronico_compra_11hs,tc_ars_euro_iol_electronico_compra_13hs,tc_ars_euro_iol_electronico_compra_15hs,tc_ars_euro_iol_electronico_venta_11hs,tc_ars_euro_iol_electronico_venta_13hs,tc_ars_euro_iol_electronico_venta_15hs
indice_tiempo,,,,,,,,,,,,,,,,,,,,,
"datetime.date(2019, 9, 1)",None,None,None,None,None,None,None,None,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"datetime.date(2019, 9, 2)",54.000,55.000,53.000,60.000,61.000,59.000,55.000,56.000,54.000,59.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"datetime.date(2019, 9, 3)",None,53.000,53.000,None,59.000,59.000,None,54.000,54.000,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"datetime.date(2019, 9, 4)",53.000,53.000,53.000,59.000,59.000,59.000,54.000,54.000,54.000,58.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"datetime.date(2019, 9, 5)",53.000,53.000,53.000,59.000,59.000,59.000,54.000,54.000,54.000,58.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
len(df)

146

In [19]:
df.columns = pd.MultiIndex.from_tuples([create_multi_index_column(col) for col in df.columns])
df.head()

                                dolar                                          \
                          hipotecario
                            mostrador
                               compra                   venta
                                 11hs    13hs    15hs    11hs    13hs    15hs
indice_tiempo
datetime.date(2019, 9, 1)        None    None    None    None    None    None
datetime.date(2019, 9, 2)      54.000  55.000  53.000  60.000  61.000  59.000
datetime.date(2019, 9, 3)        None  53.000  53.000    None  59.000  59.000
datetime.date(2019, 9, 4)      53.000  53.000  53.000  59.000  59.000  59.000
datetime.date(2019, 9, 5)      53.000  53.000  53.000  59.000  59.000  59.000

                                                               ...      euro  \
                                                               ...       iol
                          electronico                          ... mostrador
                               compra                   venta  ...    compra
                                 11hs    13hs    15hs    11hs  ...      15hs
indice_tiempo                                                  ...
datetime.date(2019, 9, 1)        None    None    None    None  ...       NaN
datetime.date(2019, 9, 2)      55.000  56.000  54.000  59.000  ...       NaN
datetime.date(2019, 9, 3)        None  54.000  54.000    None  ...       NaN
datetime.date(2019, 9, 4)      54.000  54.000  54.000  58.000  ...       NaN
datetime.date(2019, 9, 5)      54.000  54.000  54.000  58.000  ...       NaN

                                                                            \

                                          electronico
                          venta                compra           venta
                           11hs 13hs 15hs        11hs 13hs 15hs  11hs 13hs
indice_tiempo
datetime.date(2019, 9, 1)   NaN  NaN  NaN         NaN  NaN  NaN   NaN  NaN
datetime.date(2019, 9, 2)   NaN  NaN  NaN         NaN  NaN  NaN   NaN  NaN
datetime.date(2019, 9, 3)   NaN  NaN  NaN         NaN  NaN  NaN   NaN  NaN
datetime.date(2019, 9, 4)   NaN  NaN  NaN         NaN  NaN  NaN   NaN  NaN
datetime.date(2019, 9, 5)   NaN  NaN  NaN         NaN  NaN  NaN   NaN  NaN





                          15hs
indice_tiempo
datetime.date(2019, 9, 1)  NaN
datetime.date(2019, 9, 2)  NaN
datetime.date(2019, 9, 3)  NaN
datetime.date(2019, 9, 4)  NaN
datetime.date(2019, 9, 5)  NaN

[5 rows x 480 columns]

In [22]:
len(df), len(df.columns), len(df)*len(df.columns)

(146, 480, 70080)

In [30]:
df_panel = df.stack([-5, -4, -3, -2, -1], dropna=False).reset_index()
df_panel.columns = ["indice_tiempo", "coin", "entity", "channel", "flow", "hour", "value"]
df_panel.head()

               indice_tiempo   coin  entity      channel    flow  hour value
0  datetime.date(2019, 9, 1)  dolar  balanz  electronico  compra  11hs  None
1  datetime.date(2019, 9, 1)  dolar  balanz  electronico  compra  13hs  None
2  datetime.date(2019, 9, 1)  dolar  balanz  electronico  compra  15hs  None
3  datetime.date(2019, 9, 1)  dolar  balanz  electronico   venta  11hs  None
4  datetime.date(2019, 9, 1)  dolar  balanz  electronico   venta  13hs  None

In [32]:
len(df_panel)

70080

In [33]:
# usar nombres de columnas en español
df_panel.columns = ["indice_tiempo", "moneda", "entidad_bancaria", "canal", "flujo", "hora", "valor"]

In [37]:
# usar estas lambdas para formatear correctamente el tiempo y el valor
df_panel["indice_tiempo"] = df_panel["indice_tiempo"].apply(lambda x: x.format("Y%-M%-d%")) # esto hay que revisarlo bien!!!
df_panel["valor"] = df_panel["valor"].apply(lambda x: x if x else pd.np.nan)

In [38]:
df_panel.to_csv("tipo-cambio-minorista-cotizaciones-panel.csv", encoding="utf-8", index=False, sep=",")